.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display:flex;
  width: 40%;
  padding: 10px;
  justify-content: space-around;
}


body {
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h2 {
  padding: 12px;
  color: #000;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #592859; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
}
